<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Craigslist Clone</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <script
      src="https://kit.fontawesome.com/a1add7b1a0.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- <nav class="navbar navbar-dark bg-dark">
      <a class="container-fluid navbar-brand" href="/">Craigslist clone</a>
    </nav> -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Craigslist-Clone</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>

          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              What's new?
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Better GUI</a>
              <a class="dropdown-item" href="#"
                >Price filter functionality (Coming Soon)</a
              >
              <a class="dropdown-item" href="#">Beautiful Front-End</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Enjoy ;)</a>
          </li>
        </ul>
        <form
          action="{% url 'new_search' %}"
          method="post"
          class="form-inline my-2 my-lg-0"
        >
          {% csrf_token %}
          <input
            class="form-control mr-sm-2"
            type="text"
            name="search"
            placeholder="Look for something"
            aria-label="Search"
          />
          <button class="btn btn-outline-light my-2 my-sm-0" type="submit">
            Search
          </button>
        </form>
      </div>
    </nav>

    <div class="jumbotron">
      <div class="container-fluid">
        <h1 class="display-4 text-center">Welcome</h1>
        <p class="lead text-center">
          What would you like to search for today?
        </p>
        <p class="d-flex justify-content-center">
          <a
            class="btn btn-primary btn-dark"
            href="https://singapore.craigslist.org/"
            role="button"
            >Go to original Craigslist</a
          >
        </p>
        <p></p>
      </div>
    </div>

    {% block content %} {% endblock content %}

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
